body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: aquamarine;
}
input[type="number"] {
    width: 50px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    background-color: navy;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}
