body {
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    background-color: #3498db;
    color: white;
    padding: 10px;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    background-color: #3498db;
    color: white;
    padding: 10px;
  }
  
  p {
    margin: 10px 0;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .resultado {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    margin-top: 10px;
  }
  
