body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Azul claro */
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #008000; /* Verde oscuro */
  text-align: center;
  padding: 20px;
}

#container {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f0f8ff; /* Azul claro */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 50%;
}

label {
  color: #008000; /* Verde oscuro */
  display: block;
  margin-top: 10px;
}

select, input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #008000; /* Verde oscuro */
  border-radius: 5px;
}

input[type="button"] {
  background-color: #008000; /* Verde oscuro */
  color: #ffffff; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  color: #008000; /* Verde oscuro */
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

#imc-image {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

#imc-image2 {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px auto;
}

th, td {
  border: 1px solid #008000; /* Borde verde oscuro */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #008000; /* Fondo verde oscuro */
  color: #ffffff; /* Texto blanco */
}

