/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Encabezado */
  header {
    background-color: #007bff;
    padding: 20px;
    color: #ffffff;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
  }
  
  /* Formulario de cotización */
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  select {
    width: 30%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Resultado de la cotización */
  .result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .result h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .result p {
    margin-top: 10px;
  }